@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .container-grid{
        width: 85vw;
    }
}